.project-container {
  min-height: 100vh;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  margin: 100px 100px;
}

.project:hover {
  opacity: 50%;
}
.project:hover .read-more {
  display: block;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
  border: 1px solid blue;
  border-radius: 50px;
}

.project-pic {
  height: 200px;
  width: 400px;
}

.read-more {
  display: none;
  position: absolute;
  top: 140px;
}

.links {
  margin: 20px;
  display: flex;
  gap: 20px;
}

.links a {
  color: black;
}
